<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/style.css' %}"
    />
    <title>Arithmetic Game</title>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <h1 class="t-center">Arithmetic Game</h1>
      <!-- SetUp Form -->
      <form
        method="POST"
        class="game-setup"
        id="form"
        action="/arithmetic-game/game/"
      >
        {% csrf_token %}
        <dl>
          <!-- Addition and Subtraction range setup -->
          <dt class="mg-t50">
            <!-- Addition and Subtraction range label + choose to have -->
            <label class="bold">
              <input checked name="sum" type="checkbox" />
              Addition / Subtraction Range:
            </label>
          </dt>
          <!-- Addition and Subtraction range input fields -->
          <div id="sum-section">
            <dd class="form-control">
              <!-- Addition and Subtraction first number range input fields -->
              <input type="number" name="sum-1-min" id="sum-1-min" value="2" />
              <span class="mg-rl5">to</span>
              <input
                type="number"
                name="sum-1-max"
                id="sum-1-max"
                value="100"
              />
              <span class="mg-rl10">+/-</span>
              <!-- Addition and Subtraction second number range input fields -->
              <input type="number" name="sum-2-min" id="sum-2-min" value="2" />
              <span class="mg-rl5">to</span>
              <input
                type="number"
                name="sum-2-max"
                id="sum-2-max"
                value="100"
              />
            </dd>
            <p>
              <!-- Addition and Subtraction comment on subtraction range -->
              <small>Subtraction range is Addition range in reverse</small>
            </p>
            <!-- Addition and Subtraction error message -->
            <small id="error-message" class="">Error message</small>
          </div>
          <!-- Multiplication and Division range setup -->
          <dt class="mg-t50">
            <!-- Multiplication and Division range label + choose to have -->
            <label class="bold">
              <input checked name="com" type="checkbox" />
              Multiplication / Division Range:
            </label>
          </dt>
          <!-- Multiplication and Division range input fields -->
          <div id="com-section">
            <dd class="form-control">
              <!-- Multiplication and Division first number range input fields -->
              <input type="number" name="com-1-min" id="com-1-min" value="2" />
              <span class="mg-rl5">to</span>
              <input type="number" name="com-1-max" id="com-1-max" value="12" />
              <span class="mg-rl10">×/÷</span>
              <!-- Multiplication and Division second number range input fields -->
              <input type="number" name="com-2-min" id="com-2-min" value="2" />
              <span class="mg-rl5">to</span>
              <input
                type="number"
                name="com-2-max"
                id="com-2-max"
                value="100"
              />
            </dd>
            <p>
              <!-- Multiplication and Division comment on division range -->
              <small>Division range is multiplication range in reverse</small>
            </p>
            <!-- Multiplication and Division error message -->
            <small id="error-message" class="">Error message</small>
          </div>
        </dl>
        <!-- Game Duration SetUp -->
        <dt class="mg-t50">
          <label class="bold"> Duration: </label>
        </dt>
        <!-- Game Duration options -->
        <dd>
          <select name="duration">
            <option value="30">30 seconds</option>
            <option value="60">60 seconds</option>
            <option selected value="120">120 seconds</option>
            <option value="300">300 seconds</option>
            <option value="600">600 seconds</option>
          </select>
        </dd>
        <!-- Start Game Button -->
        <div class="mg-t50 t-center">
          <button class="btn" id="submit" type="submit">Start</button>
        </div>
      </form>
    </div>
    <script src="{% static 'scripts/script.js' %}"></script>
  </body>
</html>
